body {
	margin: 0 auto 10em;
	padding-left: 1em;
	padding-right: 250px;
	width: 900px;
}

code {
	padding: 0.25em 0.5em;
	background-color: #EEE;
}
.context {
	float: right;
}
.example {
	margin: 1em;
	padding: 1em;
	border: 3px solid green;
}
.example.example-container {
	border-color: blue;
}
.example.example-focus {
	border-color: red;
	background-color: #CCC;
}

#navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 1em;
	list-style-type: none;
	background-color: #FFF;
}
#navigation li {
	display: inline-block;
	margin-bottom: 1em;
	text-align: right;
}
#navigation li a {
	padding: 0.25em 0.5em;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	background-color: #333;
}
#navigation li a:hover {
	background-color: #666;
}

#heading #opening {
	width: 300px;
}
#heading blockquote {
	margin: 3em 1em;
	font-size: xx-large;
}
#heading blockquote cite {
	display: block;
}
#heading blockquote cite:before {
	content: "— ";
}

#today li {
	padding: 0.5em 0;
}
#today li a {
	font-weight: bold;
}
#today li.done {
	text-decoration: line-through;
}
